<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>[kt] 메인 - 국민의 편익을 도모하는 최고의 국민기업 - 글로벌 1등 KT</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="format-detection" content="telephone=no,address=no,email=no">
  <meta name="Keywords" content="kt, 케이티, kt.com, kt닷컴, 케이티닷컴, olleh, 올레, kt기업. kt 기업">
  <meta name="Description"
        content="[kt] 메인 - 사랑 받는 국민기업 kt의 기업홍보를 위한 사이트입니다. kt소개/사업소개/사회책임경영/투자정보/홍보채널/인재채용 등 kt의 다양한 사업과 서비스, 사회공헌활동 등에 대한 많은 정보를 확인할 수 있습니다.">

  <link rel="apple-touch-icon" href="../assets/img/common/favicon/kt.ico"><!-- 아이폰 바로가기 -->
  <link rel="shortcut icon" type="image/x-icon" href="../assets/img/common/favicon/kt.ico">
  <link rel="stylesheet" type="text/css" href="../assets/css/guide.css">
  <link rel="stylesheet" type="text/css" href="../assets/js/code.css">
</head>
<body>
<div class="guide-floating"  style="display: none;">
  <ul>
    <li><a href="#top" class="home"><span class="invisible">홈</span></a></li>
    <li><a href="#button">버튼</a></li>
    <li><a href="#popup1">팝업</a>
      <ul>
        <li><a href="#popup1">공지 대</a></li>
        <li><a href="#popup2">공지 소</a></li>
        <li><a href="#popup3">프로모션</a></li>
      </ul>
    </li>
    <li><a href="#location">로케이션</a></li>
    <li><a href="#paging">페이지네이션</a>
      <ul>
        <li><a href="#paging">페이지네이션</a>
        <li><a href="#textfilter">텍스트필터</a></li>
      </ul>
    </li>
    <li><a href="#tt0">탭</a>
      <ul>
        <li><a href="#tt0">언더라인 탭</a></li>
        <li><a href="#tt1">아이콘 탭</a></li>
        <li><a href="#tt2">기본 밝은 탭</a></li>
        <li><a href="#tt3">기본 탭 2depth</a></li>
        <li><a href="#tt4">기본 탭 2depth 버튼</a></li>
        <li><a href="#tt5">새창 탭</a></li>
        <li><a href="#tt6">새창 탭+버튼</a></li>
        <li><a href="#tt7">팝업 탭</a></li>
      </ul>
    </li>
    <li><a href="#tb1">테이블</a>
      <ul>
        <li><a href="#tb1">가로테이블</a></li>
        <li><a href="#tb2">세로테이블</a></li>
        <li><a href="#tb3">게시판 테이블1</a></li>
        <li><a href="#tb4">게시판 테이블2</a></li>
      </ul>
    </li>
    <li><a href="#g1">이미지 리스트</a>
      <ul>
        <li><a href="#g1">이벤트형</a></li>
        <li><a href="#g2">갤러리형</a></li>
        <li><a href="#g3">상세설명 형</a></li>
      </ul>
    </li>
    <li><a href="#f1">옵션</a>
      <ul>
        <li><a href="#f1">검색필터</a></li>
        <li><a href="#f2">선택필터</a></li>
        <li><a href="#f3">타이틀+선택 필터</a></li>
        <li><a href="#f4">선택+검색 필터</a></li>
        <li><a href="#f5">텍스트+검색</a></li>
        <li><a href="#f6">텍스트+선택2+검색</a></li>

      </ul>
    </li>
    <li><a href="#inputlist">인풋요소</a></li>
  </ul>
</div>
<div id="wrapper">

  <!-- header -->
  <header>
    <h1><a href="#" class="ico-ally">KT <span>개인</span></a></h1>
    <a href="#" class="btn-alert"><span class="invisible">알림</span><i class="icon-comment-alt"></i><strong>3</strong></a>
    <a href="#" class="btn-srch"><span class="invisible">검색</span><i class="icon-search"></i></a>
    <!--<a href="#" class="ico-srch"><span class="ally">검색</span></a>-->
    <a href="#" class="btn-total-open"><span class="invisible">전체 메뉴보기</span><i class="icon-reorder"></i></a>
    <nav class="open">
      <h2 class="invisible">주메뉴</h2>
      <ul class="list-channel">
        <li class="current"><a href="#">개인</a></li>
        <li><a href="#" title="KT 기업 페이지로 이동" target="_blank">기업</a></li>
        <li><a href="#" title="KT 회사소개 페이지로 이동" target="_blank">회사소개</a></li>
      </ul>
      <ul class="list-utils">
        <li><a href="#"><i class="icon-logout"></i>로그아웃</a></li>
        <li><a href="#"><i class="icon-usage"></i>사용량조회</a></li>
        <li><a href="#"><i class="icon-payment"></i>소액결제</a></li>
        <li><a href="#"><i class="icon-find-store"></i>매장찾기</a></li>
      </ul>
      <div id="gnb">
        <ul class="category">
          <li class="active"><a href="#"><strong>김민*님</strong>의 <span>맞춤메뉴<i class="icon-like"></i></span></a></li>
          <li><a href="#">마이페이지</a></li>
          <li><a href="#">상품/서비스</a></li>
          <li><a href="#">멤버십/혜택</a></li>
          <li><a href="#">이벤트</a></li>
          <li><a href="#">고객센터</a></li>
          <li><a href="#">KT shop</a></li>
        </ul>
        <div class="category-depth">
          <ul class="depth02">
            <li><a href="#">요금명세서조회 <span>상품/서비스 &gt; 모바일</span></a></li>
            <li><a href="#">기가인터넷사용량조회 <span>상품/서비스 &gt; 모바일</span></a></li>
            <li><a href="#">이용중인 부가서비스<span>마이페이지</span></a></li>
            <li><a href="#">매장찾기/안내<span>고객센터 &gt; 매장찾기/안내</span></a></li>
          </ul>
          <ul class="depth02 active">
            <li><a href="#">모바일<i class="icon-angle-down"></i></a>
              <ul class="depth03 active">
                <li><a href="#">요금제<i class="icon-plus"></i></a></li>
                <li><a href="#">부가서비스<i class="icon-plus"></i></a></li>
                <li class="active"><a href="#">Egg/WiFi<i class="icon-minus"></i></a>
                  <ul class="depth04">
                    <li><a href="#">납부방법 변경</a></li>
                    <li><a href="#">가상계좌 신청/변경</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#">로밍<i class="icon-angle-down"></i></a></li>
            <li><a href="#">모바일전용서비스<i class="icon-angle-down"></i></a></li>
            <li><a href="#">인공지능<i class="icon-angle-down"></i></a></li>
            <li><a href="#">인터넷<i class="icon-angle-down"></i></a></li>
            <li><a href="#">기가IoT<i class="icon-angle-down"></i></a></li>
            <li><a href="#">TV<i class="icon-angle-down"></i></a></li>
            <li><a href="#">전화<i class="icon-angle-down"></i></a></li>
            <li><a href="#">국제전화<i class="icon-angle-down"></i></a></li>
            <li><a href="#">결합상품<i class="icon-angle-down"></i></a></li>
          </ul>
          <ul class="depth02"></ul>
          <ul class="depth02"></ul>
          <ul class="depth02"></ul>
          <ul class="depth02"></ul>
          <ul class="depth02"></ul>
        </div>
      </div>
      <a href="#" class="btn-total-close"><span class="invisible">전체메뉴 닫기</span><i class="icon-remove"></i></a>
    </nav>
  </header>
  <!-- /header  -->

  <!-- contents -->
  <div id="contents">
    <section class="key-visual">
      <ul>
        <li><a href=""></a></li>
      </ul>
    </section>
    <section class="acc-mypage">
      <h3>
        <button type="button">마이페이지<span>펼치기</span></button>
      </h3>
      <div class="container">
        <!-- 로그아웃 -->
        <div class="logout-area inner-box">
          <a href="#" class="btn-login">로그인</a>
          <dl>
            <dt>로그인 없이 핸드폰 인증으로</dt>
            <dd>
              <a href="#" class="btn-lookup">사용량/요금/멤버십
                <strong>간편조회</strong>
              </a>
            </dd>
            <dd>
              <a href="#" class="btn-join">부가서비스
                <strong>간편가입</strong>
              </a>
            </dd>
          </dl>
          <ul class="list-myutils">
            <li><a href="#">요금조회/납부</a></li>
            <li><a href="#">사용량조회</a></li>
            <li><a href="#">요금제</a></li>
            <li><a href="#">로밍신청</a></li>
            <li><a href="#">소액결제내역</a></li>
            <li><a href="#">부가서비스</a></li>
          </ul>
        </div>
        <!-- /로그아웃  -->
        <!-- 로그인 -->
        <div class="login-area  inner-box">
          <div class="name"><strong>홍길*</strong>님, 반갑습니다.</div>
          <div class="my-info">
            <div class="my-num"><strong>010.4252.152*</strong><a href="#" class="ally">더보기</a></div>
            <div class="my-update"> 2017.02.20 17:14 <a href="#" class="ally">업데이트</a></div>
          </div>
          <div class="my-area">
            <div class="my-data">
              <strong class="my-join">순 모두 다 올레 41</strong>
              <div class="my-graph">
                <span class="default">데이터 기본제공 <strong>2.5GB</strong></span>
              </div>
              <span class="use-data">사용<strong>1.88GB</strong></span>
              <span class="remain">잔여<strong>0.62GB</strong></span>
              <span class="call-residue"><strong>통화</strong><em>42분</em>/250분</span>
              <a href="#" class="btn-white">데이터 충천</a>
            </div>

            <div class="my-service">
              <span class="real-price"><strong>실시간요금</strong> <em>140,340</em>원</span>
              <dl>
                <dt>멤버십</dt>
                <dd class="my-grade">등급<em>GOLD</em></dd>
                <dd class="my-point">포인트 <em>98,868</em></dd>
              </dl>
              <a href="#" class="btn-white">카드 정보 조회</a>
              <a href="#" class="btn-white">멤버십 혜택 안내</a>
            </div>
          </div>
        </div>
        <!-- /로그아웃  -->
        <a href="#" class="btn-line-top">마이페이지 바로가기</a>
      </div>
    </section>
    <section class="acc-product">
      <h3>
        <button type="button">상품/서비스<span>펼치기</span></button>
      </h3>
      <div class="container">
        <div class="inner-box">
          <strong>새학기엔 역시! 청소년을 위한 혜택</strong>
          <div class="slider">
            <ul>
              <li>
                <a href="#">
                  <img src="./assets/img/@sample1.jpg" alt="성소 이미지">
                  <dl>
                    <dt class="pro-tit">Y24 요금제</dt>
                    <dd class="pro-sub">만 24세 이하를 위한 요금</dd>
                    <dd class="pro-price">월<strong>32,890</strong>원</dd>
                  </dl>
                  <i>핸드폰</i>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="./assets/img/@sample2.jpg" alt="핸드폰 이미지">
                  <dl>
                    <dt class="pro-tit">올레 tv 모바일팩</dt>
                    <dd class="pro-sub">실시간 방송과 고화질 VOD</dd>
                    <dd class="pro-price">월<strong>5,500</strong>원</dd>
                  </dl>
                  <i>TV</i>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="./assets/img/@sample1.jpg" alt="성소 이미지">
                  <dl>
                    <dt class="pro-tit">Y24 요금제</dt>
                    <dd class="pro-sub">만 24세 이하를 위한 요금</dd>
                    <dd class="pro-price">월<strong>32,890</strong>원</dd>
                  </dl>
                  <i>핸드폰</i>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="./assets/img/@sample2.jpg" alt="핸드폰 이미지">
                  <dl>
                    <dt class="pro-tit">올레 tv 모바일팩</dt>
                    <dd class="pro-sub">실시간 방송과 고화질 VOD</dd>
                    <dd class="pro-price">월<strong>5,500</strong>원</dd>
                  </dl>
                  <i>TV</i>
                </a>
              </li>
            </ul>
            <div class="slider-dot">
              <a href="#" title="현재 슬라이더" class="current">1</a>
              <a href="#">2</a>
            </div>
          </div>

        </div>
        <a href="#" class="btn-line-top">상품/서비스 바로가기</a>
      </div>
    </section>
    <section class="acc-membership">
      <h3>
        <button type="button">멤버십/혜택<span>펼치기</span></button>
      </h3>
      <div class="container">
        <div class="inner-box">
          <div class="tab-menu">
            <a href="#" class="current">더블할인 멤버십</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
          </div>
          <div class="tab-con">
            <ul>
              <li><a href="#"><img src="./assets/img/@tab1.jpg"
                                       alt="더블할인 멤버십 시즌1 모든 고객이 원하는날, 2배 할인을 받을 수 있는 혜택"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
        </div>
        <a href="#" class="btn-line-top">멤버십/혜택 바로가기</a>
      </div>
    </section>
    <section class="acc-ktshop">
      <h3>
        <button type="button">KT Shop <span>펼치기</span></button>
      </h3>
      <div class="container">
        <div class="inner-box">
          <div class="slider">
            <ul>
              <li>
                <a href="#">
                  <dl role="text">
                    <dt class="pro-tit">갤럭시 S7 edge</dt>
                    <dd class="pro-sub">지금 KT Shop에서 만나보세요.</dd>
                    <dd class="view-detail">자세히 보기</dd>
                  </dl>
                </a>
                <div><img src="./assets/img/@slider1.jpg" alt="상품 이미지"></div>
              </li>
              <li style="display:none;">
                <a href="#">
                  <dl role="text">
                    <dt class="pro-tit">갤럭시 S7 edge</dt>
                    <dd class="pro-sub">지금 KT Shop에서 만나보세요.</dd>
                    <dd class="view-detail">자세히 보기</dd>
                  </dl>
                </a>
                <div><img src="./assets/img/@slider1.jpg" alt="상품 이미지"></div>
              </li>
            </ul>
            <div class="slider-dot">
              <a href="#" title="현재 슬라이더" class="current">1</a>
              <a href="#">2</a>
            </div>
          </div>
          <div class="ticket">
            <dl>
              <dt>함께 쓰면 좋은 요금제/부가서비스</dt>
              <dd>LTEi>76.8</em></dd>
              <dd>미디어 팩 <a href="#">간편가입</a></dd>
            </dl>
            <a href="#" class="btn-more">+</a>
          </div>
        </div>
        <a href="#" class="btn-line-top">KT Shop 바로가기 </a>
      </div>
    </section>
    <section class="acc-event">
      <h3>
        <button type="button">이벤트<span>펼치기</span></button>
      </h3>
      <div class="container">
        <div class="inner-box">
          <div class="slider">
            <ul>
              <li>
                <img src="./assets/img/@thum1.jpg" alt="여행">
                <dl>
                  <dt class="evt-tit">데이터로밍<br/>하루종일 무료!</dt>
                  <dd class="evt-date"><span>기간</span>2017. 03. 18 ~ 03. 20</dd>
                </dl>
                <a href="#">자세히 보기</a>
              </li>
              <li class="ico-new">
                <img src="./assets/img/@thum2.jpg" alt="영화">
                <dl>
                  <dt class="evt-tit">파도가 지나간 자리<br/>예매권 이벤트</dt>
                  <dd class="evt-date"><span>기간</span>2017. 03. 18 ~ 03. 20</dd>
                </dl>
                <a href="#">자세히 보기</a>
              </li>
              <li>
                <img src="./assets/img/@thum1.jpg" alt="여행">
                <dl>
                  <dt class="evt-tit">데이터로밍<br/>하루종일 무료!</dt>
                  <dd class="evt-date"><span>기간</span>2017. 03. 18 ~ 03. 20</dd>
                </dl>
                <a href="#">자세히 보기</a>
              </li>
            </ul>
          </div>

        </div>
        <a href="#" class="btn-line-top">이벤트 바로가기</a>
      </div>
    </section>
    <section class="acc-customer">
      <h3>
        <button type="button">고객센터<span>펼치기</span></button>
      </h3>
      <div class="container">
        <div class="inner-box">
          <label for="sel-shop">매장선택</label>
          <select id="sel-shop">
            <option>매장선택</option>
          </select>
          <label for="src-text">매장 검색어 입력</label>
          <input id="src-text" type="text" placeholder="키워드를 입력하세요.">

          <ul>
            <li><a href="#">자주하는 질문</a></li>
            <li><a href="#">매장찾기</a></li>
            <li><a href="#">고객센터 안내</a></li>
          </ul>
          <dl>
            <dt>서비스 이용 꿀팁</dt>
            <dd><a href="#">번호이동 요금<br>그것이 알고 싶다!</a></dd>
            <dd><a href="#">데이터가<br>부족하세요? </a></dd>
            <dd><a href="#">인터넷 끊김 현상을<br>해결하라! </a></dd>
            <dd><a href="#">TV시청 중<br>문제가 생겼을 때 </a></dd>
          </dl>

        </div>
        <a href="#" class="btn-line-top">상품/서비스 바로가기</a>
      </div>
    </section>
  </div>
  <!-- /contents -->

  <!--footer-->
  <footer>
    <a href="#" class="notice">
      <strong>공지</strong><span> 세계 최초 인공지는 TV '기가 지니' 출시</span>
    </a>

    <div class="family-links">
      <div class="box">
        <label for="sns-channel" class="invisible">sns 채널</label>
        <select id="sns-channel">
          <option value="1">SNS 채널</option>
        </select>
        <i class="icon-chevron-down"></i>
      </div>
      <div class="box">
        <label for="family-site" class="invisible">패밀리 사이트</label>
        <select id="family-site">
          <option value="1">패밀리사이트</option>
        </select>
        <i class="icon-chevron-down"></i>
      </div>
    </div>
    <div class="list-quick-01">
      <ul>
        <li><a href="#">회사소개</a></li>
        <li><a href="#">이용약관</a></li>
        <li><a href="#">이용자 피해예방 가이드</a></li>
        <li><a href="#">개인정보처리방침</a></li>
      </ul>
    </div>
    <div class="list-quick-02">
      <ul>
        <li><a href="#" title="새창 열림" target="_blank"><img src="../assets/img/guide/@ico1.gif" alt=""><span>초고속 인터넷 1위<br/>IPTV 1위</span></a></li>
        <li><a href="#" title="새창 열림" target="_blank"><img src="../assets/img/guide/@ico2.png" alt=""><span>미래차조과학부<br/>웹접근성인증</span></a></li>
        <li><a href="#" title="새창 열림" target="_blank"><img src="../assets/img/guide/@ico1.gif" alt=""><span>이동통신 1윌<br/>인터넷 1위</span></a></li>
      </ul>

    </div>
    <address>
      (주)케이티 대표이사 황창규 <br>
      사업자등록번호 : 102-81-42945 통신판매업신고 : 2002-경기성남-0048<br>
      고객센터 : [모바일] 휴대폰+114(무료), 1588-0010(유료)<br>
      [인터넷/TV/전화] 유선전화(국번없이) 100, 휴대폰(지역번호)+100<br>
      경기도 성남시 분당구 불정로 90 (정자동)<br>
      Copyright ⓒ 2017 kt corp. All rights reserved.
      <a href="#" class="btn-gopc" title="새창열림" target="_blank">PC 버전</a>
    </address>

  </footer>
  <!-- /footer-->

  <!-- script -->
  <!--<script type="text/javascript" src="../../common/js/jquery-1.11.3.min.js"></script>-->
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="../assets/js/ui.js"></script>
  <script type="text/javascript" src="../assets/js/prism.js"></script>
  <script>
      $(document).ready(function () {
          $('.btn-total-open').on('click', function () {
              $('body').addClass('gnb-open');
              $('nav').addClass('open');
          });

          $('.btn-total-close').on('click', function () {
              $('body').removeClass('gnb-open');
              $('nav').removeClass('open');

          });

          $('.accodion li a').on('click', function (e) {
              var $this = $(this);
              var current = $this.parent().index();


              if ($this.parent().hasClass('active')) {
                  $this.find('span').text('펼치기');
                  $this.parent().find('.cont').slideUp(function () {
                      $('.accodion li').removeClass('active');
                  });

              } else {
                  $('.accodion li').find('.cont').slideUp(
                      function () {
                          $('.accodion li').removeClass('active');
                          $('.accodion li a span').text('펼치기');
                      }
                  );
                  $('.accodion li').eq(current).find('.cont').slideDown(
                      function () {
                          $('.accodion li').eq(current).addClass('active');
                          $('.accodion li').eq(current).find('a span').text('접기');
                      }
                  );

              }
          });
      });
  </script>
  <!-- /script -->
</div>
</body>
</html>