<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>[kt] 메인 - 국민의 편익을 도모하는 최고의 국민기업 - 글로벌 1등 KT</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="format-detection" content="telephone=no,address=no,email=no">
  <meta name="Keywords" content="kt, 케이티, kt.com, kt닷컴, 케이티닷컴, olleh, 올레, kt기업. kt 기업">
  <meta name="Description"
        content="[kt] 메인 - 사랑 받는 국민기업 kt의 기업홍보를 위한 사이트입니다. kt소개/사업소개/사회책임경영/투자정보/홍보채널/인재채용 등 kt의 다양한 사업과 서비스, 사회공헌활동 등에 대한 많은 정보를 확인할 수 있습니다.">

  <link rel="apple-touch-icon" href="../assets/img/common/favicon/kt.ico"><!-- 아이폰 바로가기 -->
  <link rel="shortcut icon" type="image/x-icon" href="../assets/img/common/favicon/kt.ico">
  <link rel="stylesheet" type="text/css" href="../assets/css/guide.css">
  <link rel="stylesheet" type="text/css" href="../assets/js/code.css">
</head>
<body>
<div class="guide-floating"  style="display: none;">
  <ul>
    <li><a href="#top" class="home"><span class="invisible">홈</span></a></li>
    <li><a href="#button">버튼</a></li>
    <li><a href="#popup1">팝업</a>
      <ul>
        <li><a href="#popup1">공지 대</a></li>
        <li><a href="#popup2">공지 소</a></li>
        <li><a href="#popup3">프로모션</a></li>
      </ul>
    </li>
    <li><a href="#location">로케이션</a></li>
    <li><a href="#paging">페이지네이션</a>
      <ul>
        <li><a href="#paging">페이지네이션</a>
        <li><a href="#textfilter">텍스트필터</a></li>
      </ul>
    </li>
    <li><a href="#tt0">탭</a>
      <ul>
        <li><a href="#tt0">언더라인 탭</a></li>
        <li><a href="#tt1">아이콘 탭</a></li>
        <li><a href="#tt2">기본 밝은 탭</a></li>
        <li><a href="#tt3">기본 탭 2depth</a></li>
        <li><a href="#tt4">기본 탭 2depth 버튼</a></li>
        <li><a href="#tt5">새창 탭</a></li>
        <li><a href="#tt6">새창 탭+버튼</a></li>
        <li><a href="#tt7">팝업 탭</a></li>
      </ul>
    </li>
    <li><a href="#tb1">테이블</a>
      <ul>
        <li><a href="#tb1">가로테이블</a></li>
        <li><a href="#tb2">세로테이블</a></li>
        <li><a href="#tb3">게시판 테이블1</a></li>
        <li><a href="#tb4">게시판 테이블2</a></li>
      </ul>
    </li>
    <li><a href="#g1">이미지 리스트</a>
      <ul>
        <li><a href="#g1">이벤트형</a></li>
        <li><a href="#g2">갤러리형</a></li>
        <li><a href="#g3">상세설명 형</a></li>
      </ul>
    </li>
    <li><a href="#f1">옵션</a>
      <ul>
        <li><a href="#f1">검색필터</a></li>
        <li><a href="#f2">선택필터</a></li>
        <li><a href="#f3">타이틀+선택 필터</a></li>
        <li><a href="#f4">선택+검색 필터</a></li>
        <li><a href="#f5">텍스트+검색</a></li>
        <li><a href="#f6">텍스트+선택2+검색</a></li>

      </ul>
    </li>
    <li><a href="#inputlist">인풋요소</a></li>
  </ul>
</div>
<div id="wrapper">

  <!-- header -->
  <header>
    <h1><a href="#none" class="ico-ally">KT <span>개인</span></a></h1>
    <a href="#none" class="btn-alert"><span class="invisible">알림</span><i class="icon-comment-alt"></i><strong>3</strong></a>
    <a href="#none" class="btn-srch"><span class="invisible">검색</span><i class="icon-search"></i></a>
    <!--<a href="#none" class="ico-srch"><span class="ally">검색</span></a>-->
    <a href="#none" class="btn-total-open"><span class="invisible">전체 메뉴보기</span><i class="icon-reorder"></i></a>
    <nav class="open1">
      <h2 class="invisible">전체 메뉴</h2>
      <ul class="list-channel">
        <li class="current"><a href="#none">개인</a></li>
        <li><a href="#none" title="KT 기업 페이지로 이동" target="_blank">기업</a></li>
        <li><a href="#none" title="KT 회사소개 페이지로 이동" target="_blank">회사소개</a></li>
      </ul>
      <ul class="list-utils">
        <li><a href="#none">로그아웃</a></li>
        <li><a href="#none">사용량조회</a></li>
        <li><a href="#none">소액결제</a></li>
        <li><a href="#none">매장찾기</a></li>
      </ul>
      <ul id="gnb">
        <li class="current"><a href="#none"><strong>김민*님</strong>의 <span>맞춤메뉴</span></a>
          <ul>
            <li><a href="#none">요금명세서조회 <span>상품/서비스&gt;모바일</span></a></li>
            <li><a href="#none">기가인터넷사용량조회 <span>상품/서비스&gt;모바일</span></a></li>
            <li><a href="#none">이용중인 부가서비스<span>마이페이지</span></a></li>
            <li><a href="#none">매장찾기/안내<span>고객센터 &gt; 매장찾기/안내</span></a></li>
          </ul>
        </li>
        <li><a href="#none">마이페이지</a>
          <ul>
            <li><a href="#none">요금명세서조회 <span>상품/서비스&gt;모바일</span></a></li>
            <li><a href="#none">기가인터넷사용량조회 <span>상품/서비스&gt;모바일</span></a></li>
            <li><a href="#none">이용중인 부가서비스<span>마이페이지</span></a></li>
            <li><a href="#none">매장찾기/안내<span>고객센터 &gt; 매장찾기/안내</span></a></li>
          </ul>
        </li>
        <li><a href="#none">상품/서비스</a>
          <ul>
            <li><a href="#none"></a></li>
            <li><a href="#none"></a></li>
            <li><a href="#none"></a></li>
            <li><a href="#none"></a></li>
          </ul>
        </li>
        <li><a href="#none">멤버십/혜택</a>
          <ul>
            <li><a href="#none"></a></li>
            <li><a href="#none"></a></li>
            <li><a href="#none"></a></li>
            <li><a href="#none"></a></li>
          </ul>
        </li>
        <li><a href="#none">이벤트</a>
          <ul>
            <li><a href="#none"></a></li>
            <li><a href="#none"></a></li>
            <li><a href="#none"></a></li>
            <li><a href="#none"></a></li>
          </ul>
        </li>
        <li><a href="#none">고객센터</a>
          <ul>
            <li><a href="#none"></a></li>
            <li><a href="#none"></a></li>
            <li><a href="#none"></a></li>
            <li><a href="#none"></a></li>
          </ul>
        </li>
        <li><a href="#none">KT shop</a>
          <ul>
            <li><a href="#none"></a></li>
            <li><a href="#none"></a></li>
            <li><a href="#none"></a></li>
            <li><a href="#none"></a></li>
          </ul>
        </li>
      </ul>
      <a href="#none" class="btn-total-close"><span class="invisible">전체메뉴 닫기</span><i class="icon-remove"></i></a>
    </nav>
  </header>
  <!-- /header  -->

  <!-- contents -->
  <div id="contents">

  </div>
  <!-- /contents -->

  <!--footer-->
  <footer>
    <a href="#none" class="notice">
      <strong>공지</strong><span> 세계 최초 인공지는 TV '기가 지니' 출시</span>
    </a>

    <div class="family-links">
      <div class="box">
        <label for="sns-channel" class="invisible">sns 채널</label>
        <select id="sns-channel">
          <option value="1">SNS 채널</option>
        </select>
        <i class="icon-chevron-down"></i>
      </div>
      <div class="box">
        <label for="family-site" class="invisible">패밀리 사이트</label>
        <select id="family-site">
          <option value="1">패밀리사이트</option>
        </select>
        <i class="icon-chevron-down"></i>
      </div>
    </div>
    <div class="list-quick-01">
      <ul>
        <li><a href="#none">회사소개</a></li>
        <li><a href="#none">이용약관</a></li>
        <li><a href="#none">이용자 피해예방 가이드</a></li>
        <li><a href="#none">개인정보처리방침</a></li>
      </ul>
    </div>
    <div class="list-quick-02">
      <ul>
        <li><a href="#none" title="새창 열림" target="_blank"><span>초고속 인터넷 1위<br/>IPTV 1위</span></a></li>
        <li><a href="#none" title="새창 열림" target="_blank"><span>미래차조과학부<br/>웹접근성인증</span></a></li>
        <li><a href="#none" title="새창 열림" target="_blank"><span>이동통신 1윌<br/>인터넷 1위</span></a></li>
      </ul>

    </div>
    <address>
      (주)케이티 대표이사 황창규 <br>
      사업자등록번호 : 102-81-42945 통신판매업신고 : 2002-경기성남-0048<br>
      고객센터 : [모바일] 휴대폰+114(무료), 1588-0010(유료)<br>
      [인터넷/TV/전화] 유선전화(국번없이) 100, 휴대폰(지역번호)+100<br>
      경기도 성남시 분당구 불정로 90 (정자동)<br>
      Copyright ⓒ 2017 kt corp. All rights reserved.
      <a href="#none" class="btn-gopc" title="새창열림" target="_blank">PC 버전</a>
    </address>

  </footer>
  <!-- /footer-->

  <!-- script -->
  <!--<script type="text/javascript" src="../../common/js/jquery-1.11.3.min.js"></script>-->
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="../assets/js/ui.js"></script>
  <script type="text/javascript" src="../assets/js/prism.js"></script>
  <script>
      $(document).ready(function () {
          $('.btn-total-open').on('click', function () {
              $('body').addClass('gnb-open');
              $('nav').addClass('open');
          });

          $('.btn-total-close').on('click', function () {
              $('body').removeClass('gnb-open');
              $('nav').removeClass('open');

          });

          $('.accodion li a').on('click', function (e) {
              var $this = $(this);
              var current = $this.parent().index();


              if ($this.parent().hasClass('active')) {
                  $this.find('span').text('펼치기');
                  $this.parent().find('.cont').slideUp(function () {
                      $('.accodion li').removeClass('active');
                  });

              } else {
                  $('.accodion li').find('.cont').slideUp(
                      function () {
                          $('.accodion li').removeClass('active');
                          $('.accodion li a span').text('펼치기');
                      }
                  );
                  $('.accodion li').eq(current).find('.cont').slideDown(
                      function () {
                          $('.accodion li').eq(current).addClass('active');
                          $('.accodion li').eq(current).find('a span').text('접기');
                      }
                  );

              }
          });
      });
  </script>
  <!-- /script -->
</div>
</body>
</html>