<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>[kt] 메인 - 국민의 편익을 도모하는 최고의 국민기업 - 글로벌 1등 KT</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="format-detection" content="telephone=no,address=no,email=no">
  <meta name="Keywords" content="kt, 케이티, kt.com, kt닷컴, 케이티닷컴, olleh, 올레, kt기업. kt 기업">
  <meta name="Description"
        content="[kt] 메인 - 사랑 받는 국민기업 kt의 기업홍보를 위한 사이트입니다. kt소개/사업소개/사회책임경영/투자정보/홍보채널/인재채용 등 kt의 다양한 사업과 서비스, 사회공헌활동 등에 대한 많은 정보를 확인할 수 있습니다.">

  <link rel="apple-touch-icon" href="../assets/img/common/favicon/kt.ico"><!-- 아이폰 바로가기 -->
  <link rel="shortcut icon" type="image/x-icon" href="../assets/img/common/favicon/kt.ico">
  <link rel="stylesheet" type="text/css" href="../assets/css/sub.css">
</head>
<body>
<div id="wrapper">

  <!-- header -->
  <header>
    <h1><a href="#" class="ico-ally">KT <span>개인</span></a></h1>
    <a href="#" class="btn-alert"><span class="invisible">알림</span><i class="icon-comment-alt"></i><strong>3</strong></a>
    <a href="#" class="btn-srch"><span class="invisible">검색</span><i class="icon-search"></i></a>
    <!--<a href="#" class="ico-srch"><span class="ally">검색</span></a>-->
    <a href="#" class="btn-total-open"><span class="invisible">전체 메뉴보기</span><i class="icon-reorder"></i></a>
    <nav>
      <h2 class="invisible">주메뉴</h2>
      <ul class="list-channel">
        <li class="current"><a href="#">개인</a></li>
        <li><a href="#" title="KT 기업 페이지로 이동" target="_blank">기업</a></li>
        <li><a href="#" title="KT 회사소개 페이지로 이동" target="_blank">회사소개</a></li>
      </ul>
      <ul class="list-utils">
        <li><a href="#"><i class="icon-logout"></i>로그아웃</a></li>
        <li><a href="#"><i class="icon-usage"></i>사용량조회</a></li>
        <li><a href="#"><i class="icon-payment"></i>소액결제</a></li>
        <li><a href="#"><i class="icon-find-store"></i>매장찾기</a></li>
      </ul>
      <div id="gnb">
        <ul class="category">
          <li class="active"><a href="#"><strong>김민*님</strong>의 <span>맞춤메뉴<i class="icon-like"></i></span></a></li>
          <li><a href="#">마이페이지</a></li>
          <li><a href="#">상품/서비스</a></li>
          <li><a href="#">멤버십/혜택</a></li>
          <li><a href="#">이벤트</a></li>
          <li><a href="#">고객센터</a></li>
          <li><a href="#">KT shop<i class="icon-cart"></i></a></li>
        </ul>
        <div class="category-depth">
          <ul class="depth02">
            <li><a href="#">요금명세서조회 <span>상품/서비스 &gt; 모바일</span></a></li>
            <li><a href="#">기가인터넷사용량조회 <span>상품/서비스 &gt; 모바일</span></a></li>
            <li><a href="#">이용중인 부가서비스<span>마이페이지</span></a></li>
            <li><a href="#">매장찾기/안내<span>고객센터 &gt; 매장찾기/안내</span></a></li>
          </ul>
          <ul class="depth02 active">
            <li><a href="#">모바일<i class="icon-angle-down"></i></a>
              <ul class="depth03 active">
                <li><a href="#">요금제<i class="icon-plus"></i></a></li>
                <li><a href="#">부가서비스<i class="icon-plus"></i></a></li>
                <li class="active"><a href="#">Egg/WiFi<i class="icon-minus"></i></a>
                  <ul class="depth04">
                    <li><a href="#">납부방법 변경</a></li>
                    <li><a href="#">가상계좌 신청/변경</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#">로밍<i class="icon-angle-down"></i></a></li>
            <li><a href="#">모바일전용서비스<i class="icon-angle-down"></i></a></li>
            <li><a href="#">인공지능<i class="icon-angle-down"></i></a></li>
            <li><a href="#">인터넷<i class="icon-angle-down"></i></a></li>
            <li><a href="#">기가IoT<i class="icon-angle-down"></i></a></li>
            <li><a href="#">TV<i class="icon-angle-down"></i></a></li>
            <li><a href="#">전화<i class="icon-angle-down"></i></a></li>
            <li><a href="#">국제전화<i class="icon-angle-down"></i></a></li>
            <li><a href="#">결합상품<i class="icon-angle-down"></i></a></li>
          </ul>
          <ul class="depth02"></ul>
          <ul class="depth02"></ul>
          <ul class="depth02"></ul>
          <ul class="depth02"></ul>
          <ul class="depth02"></ul>
        </div>
      </div>
      <a href="#" class="btn-total-close"><span class="invisible">전체메뉴 닫기</span><i class="icon-remove"></i></a>
    </nav>
  </header>
  <!-- /header  -->

  <div class="navigater">
    <a href="#"><span class="invisible">더보기</span><i class="icon-chevron-down"></i></a>
  </div>

  <!-- contents -->
  <div id="contents">

  </div>
  <!-- /contents -->

  <!--footer-->
  <footer>
    <a href="#" class="notice">
      <strong>공지</strong><span> 세계 최초 인공지는 TV '기가 지니' 출시</span>
    </a>

    <div class="family-links">
      <div class="box">
        <label for="sns-channel" class="invisible">sns 채널</label>
        <select id="sns-channel">
          <option value="1">SNS 채널</option>
        </select>
        <i class="icon-chevron-down"></i>
      </div>
      <div class="box">
        <label for="family-site" class="invisible">패밀리 사이트</label>
        <select id="family-site">
          <option value="1">패밀리사이트</option>
        </select>
        <i class="icon-chevron-down"></i>
      </div>
    </div>
    <div class="list-quick-01">
      <ul>
        <li><a href="#">회사소개</a></li>
        <li><a href="#">이용약관</a></li>
        <li><a href="#">이용자 피해예방 가이드</a></li>
        <li><a href="#">개인정보처리방침</a></li>
      </ul>
    </div>
    <div class="list-quick-02">
      <ul>
        <li><a href="#" title="새창 열림" target="_blank"><img src="../assets/img/guide/@ico1.gif" alt=""><span>초고속 인터넷 1위<br/>IPTV 1위</span></a></li>
        <li><a href="#" title="새창 열림" target="_blank"><img src="../assets/img/guide/@ico2.png" alt=""><span>미래차조과학부<br/>웹접근성인증</span></a></li>
        <li><a href="#" title="새창 열림" target="_blank"><img src="../assets/img/guide/@ico1.gif" alt=""><span>이동통신 1윌<br/>인터넷 1위</span></a></li>
      </ul>

    </div>
    <address>
      (주)케이티 대표이사 황창규 <br>
      사업자등록번호 : 102-81-42945 통신판매업신고 : 2002-경기성남-0048<br>
      고객센터 : [모바일] 휴대폰+114(무료), 1588-0010(유료)<br>
      [인터넷/TV/전화] 유선전화(국번없이) 100, 휴대폰(지역번호)+100<br>
      경기도 성남시 분당구 불정로 90 (정자동)<br>
      Copyright ⓒ 2017 kt corp. All rights reserved.
      <a href="#" class="btn-gopc" title="새창열림" target="_blank">PC 버전</a>
    </address>

  </footer>
  <!-- /footer-->

  <!-- script -->
  <!--<script type="text/javascript" src="../../common/js/jquery-1.11.3.min.js"></script>-->
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="../assets/js/ui.js"></script>
  <script type="text/javascript" src="../assets/js/prism.js"></script>
  <script>
      $(document).ready(function () {
          $('[class^="acc-"] h3 button').on('click', function () {
              if($(this).parents('section').hasClass('active')){
                  $(this).parents('section').removeClass('active');
              }else{
                  $(this).parents('section').addClass('active');
              }

          });

          $('.btn-total-close').on('click', function () {
              $('body').removeClass('gnb-open');
              $('nav').removeClass('open');

          });

          $('.btn-total-open').on('click', function () {
              $('body').addClass('gnb-open');
              $('nav').addClass('open');
          });

          $('.accodion li a').on('click', function (e) {
              var $this = $(this);
              var current = $this.parent().index();


              if ($this.parent().hasClass('active')) {
                  $this.find('span').text('펼치기');
                  $this.parent().find('.cont').slideUp(function () {
                      $('.accodion li').removeClass('active');
                  });

              } else {
                  $('.accodion li').find('.cont').slideUp(
                      function () {
                          $('.accodion li').removeClass('active');
                          $('.accodion li a span').text('펼치기');
                      }
                  );
                  $('.accodion li').eq(current).find('.cont').slideDown(
                      function () {
                          $('.accodion li').eq(current).addClass('active');
                          $('.accodion li').eq(current).find('a span').text('접기');
                      }
                  );

              }
          });
      });
  </script>
  <!-- /script -->
</div>
</body>
</html>