<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>[kt] 메인 - 국민의 편익을 도모하는 최고의 국민기업 - 글로벌 1등 KT</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="format-detection" content="telephone=no,address=no,email=no">
  <meta name="Keywords" content="kt, 케이티, kt.com, kt닷컴, 케이티닷컴, olleh, 올레, kt기업. kt 기업">
  <meta name="Description"
        content="[kt] 메인 - 사랑 받는 국민기업 kt의 기업홍보를 위한 사이트입니다. kt소개/사업소개/사회책임경영/투자정보/홍보채널/인재채용 등 kt의 다양한 사업과 서비스, 사회공헌활동 등에 대한 많은 정보를 확인할 수 있습니다.">

  <link rel="apple-touch-icon" href="../assets/img/common/favicon/kt.ico"><!-- 아이폰 바로가기 -->
  <link rel="shortcut icon" type="image/x-icon" href="../assets/img/common/favicon/kt.ico">
  <link rel="stylesheet" type="text/css" href="../assets/css/icon-font.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/layout.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/contents.css">
</head>
<body>

<!--레이어 팝업-->
<div class="layer-wrap">
  <div class="layer-pop">
    <h3>온라인 커설팅 신청</h3>
    <div class="layer-content">
      <p>컨설팅 신청이 완성되었습니다.<br> 빠른 시간 내에 연락 드리겠습니다.</p>
      <div class="btn-wrap2">
        <button type="button" class="btn-red-square">확인</button>
        <button type="button" class="btn-line-square">취소</button>
      </div>
    </div>
    <a href="#" class="btn-close"><span class="invisible">팝업 창 닫기</span><i class="icon-remove"></i></a>
  </div>
</div>

<div id="wrapper">

  <!-- header -->
  <header>
    <h1><a href="#" class="ico-ally">KT <span>개인</span></a></h1>
    <a href="#" class="btn-alert"><span class="invisible">알림</span><i class="icon-comment-alt"></i><strong>3</strong></a>
    <a href="#" class="btn-srch"><span class="invisible">검색</span><i class="icon-search"></i></a>
    <a href="#" class="btn-total-open"><span class="invisible">전체 메뉴보기</span><i class="icon-reorder"></i></a>
    <nav>
      <h2 class="invisible">주메뉴</h2>
      <ul class="list-channel">
        <li class="current"><a href="#">개인</a></li>
        <li><a href="#" title="KT 기업 페이지로 이동" target="_blank">기업</a></li>
        <li><a href="#" title="KT 회사소개 페이지로 이동" target="_blank">회사소개</a></li>
      </ul>
      <ul class="list-utils">
        <li><a href="#"><i class="icon-logout"></i>로그아웃</a></li>
        <li><a href="#"><i class="icon-usage"></i>사용량조회</a></li>
        <li><a href="#"><i class="icon-payment"></i>소액결제</a></li>
        <li><a href="#"><i class="icon-find-store"></i>매장찾기</a></li>
      </ul>
      <div id="gnb">
        <ul class="category">
          <li class="active"><a href="#"><strong>김민*님</strong>의 <span>맞춤메뉴<i class="icon-like"></i></span></a></li>
          <li><a href="#">마이페이지</a></li>
          <li><a href="#">상품/서비스</a></li>
          <li><a href="#">멤버십/혜택</a></li>
          <li><a href="#">이벤트</a></li>
          <li><a href="#">고객센터</a></li>
          <li><a href="#">KT shop<i class="icon-cart"></i></a></li>
        </ul>
        <div class="category-depth">
          <ul class="depth02">
            <li><a href="#">요금명세서조회 <span>상품/서비스 &gt; 모바일</span></a></li>
            <li><a href="#">기가인터넷사용량조회 <span>상품/서비스 &gt; 모바일</span></a></li>
            <li><a href="#">이용중인 부가서비스<span>마이페이지</span></a></li>
            <li><a href="#">매장찾기/안내<span>고객센터 &gt; 매장찾기/안내</span></a></li>
          </ul>
          <ul class="depth02 active">
            <li><a href="#">모바일<i class="icon-angle-down"></i></a>
              <ul class="depth03 active">
                <li><a href="#">요금제<i class="icon-plus"></i></a></li>
                <li><a href="#">부가서비스<i class="icon-plus"></i></a></li>
                <li class="active"><a href="#">Egg/WiFi<i class="icon-minus"></i></a>
                  <ul class="depth04">
                    <li><a href="#">납부방법 변경</a></li>
                    <li><a href="#">가상계좌 신청/변경</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#">로밍<i class="icon-angle-down"></i></a></li>
            <li><a href="#">모바일전용서비스<i class="icon-angle-down"></i></a></li>
            <li><a href="#">인공지능<i class="icon-angle-down"></i></a></li>
            <li><a href="#">인터넷<i class="icon-angle-down"></i></a></li>
            <li><a href="#">기가IoT<i class="icon-angle-down"></i></a></li>
            <li><a href="#">TV<i class="icon-angle-down"></i></a></li>
            <li><a href="#">전화<i class="icon-angle-down"></i></a></li>
            <li><a href="#">국제전화<i class="icon-angle-down"></i></a></li>
            <li><a href="#">결합상품<i class="icon-angle-down"></i></a></li>
          </ul>
          <ul class="depth02"></ul>
          <ul class="depth02"></ul>
          <ul class="depth02"></ul>
          <ul class="depth02"></ul>
          <ul class="depth02"></ul>
        </div>
      </div>
      <a href="#" class="btn-total-close"><span class="invisible">전체메뉴 닫기</span><i class="icon-remove"></i></a>
    </nav>
  </header>
  <!-- /header  -->

  <!--페이지 로케이션-->
  <div class="location">
    <div class="sub-depth-wrap">
      <ul class="sub-depth2">
        <li>인터넷</li>
        <li><i class="icon-angle-right"></i>부가서비스
          <ul class="sub-depth3">
            <li><a href="#"><i class="icon-checked"></i>요금제</a></li>
            <li><a href="#" class="active"><i class="icon-checked"></i>부가서비스</a></li>
            <li><a href="#"><i class="icon-checked"></i>Egg/WiFi</a></li>
          </ul>
        </li>
      </ul>
      <button type="button"><span class="invisible">메뉴 펼치기</span><i class="icon-chevron-down"></i></button>
    </div>
    <ul class="sub-depth4" style="height:80px;"><!-- [js]기본 40px  5뎁스 메뉴 있을때 높이값  80px js로 삽입, 선형화로  5depth absolute 사용-->
      <li><a href="#" class="active">안심인터넷</a>
        <ul class="sub-depth5">
          <li><a href="#" class="active">인터넷 가족안심</a></li>
          <li><a href="#">PC안심</a></li>
        </ul>
      </li>
      <li><a href="#">생활편의</a></li>
    </ul>
    <div class="sub-location-title"><a href="#"><i class="icon-arrow-left"></i><span class="invisible">이전 페이지</span></a>안심인터넷</div>
  </div>

  <!-- contents -->
  <div id="contents">
    
    <h3>인터넷 가족안심<button type="button" class="btn-sns"><i class="icon-sns"></i><span class="invisible">sns 공유</span></button></h3>

    <!--가격영역-->
    <div class="price-box">
      <span class="price">월<strong>3,300</strong>원</span>
      <span class="surtax">(부가세 포함)</span>
    </div>

    <!--상품 혜택-->
    <div class="pro-benefit con-box">
      <ul>
        <li><i class="icon-site"></i> PC 유해<br>사이트 차단</li>
        <li><i class="icon-sevice"></i> PC 인터넷<br>시간관리</li>
        <li><i class="icon-useage"></i> 모바일 유해<br>사이트/앱 차단</li>
      </ul>
    </div>

    <!--버튼-->
    <div class="btn-wrap2">
      <button type="button" class="btn-red-round">신청하기</button>
      <button type="button" class="btn-line-round">설정하기</button>
    </div>

    <!--동영상링크-->
    <div class="video-box" style="background:url('../assets/img/temp/@video.jpg') 0 0 no-repeat;-webkit-background-size:cover; background-size:cover;">
      <span>KT 인터넷 가족안심<strong>동영상으로 보기</strong></span>
      <a href="#" class="btn-play"><i class="icon-play"></i><span class="invisible">동영상 보기</span></a>
    </div>

    <!--이미지배경 컨텐츠-->
    <div class="imgback-box">
      <img src="../assets/img/temp/@content1.jpg" alt="">
      <dl>
        <dt>자녀의 인터넷 중독<br> 더 이상 방치하지 마세요!</dt>
        <dd>PC와 스마트폰 환경에서 유해물 차단과<br> 인터넷 사용시간을 관리해드립니다 </dd>
      </dl>
    </div>

    <!--상품설명-->
    <ul class="color-box">
      <li><i class="icon-add-services"></i><strong>인터넷 유해물 차단</strong>인터넷  음란 / 도박 /불법사이트 자동차단</li>
      <li><i class="icon-sevice"></i><strong>인터넷 이용시간 관리</strong>요일/시간대별 관리</li>
      <li><i class="icon-add-services"></i><strong>스마트폰 유해물 차단</strong>유해 앱 차단 및 통계기능 제공</li>
      <li><i class="icon-sevice"></i><strong>유해물 차단 PC 프로그램</strong>S/W 유해 프로그램 차단</li>
    </ul>

    <!--아코디언-->
    <ul class="accodion-box">
      <li>
        <button type="button">요금 안내<span class="invisible">펼치기</span><i class="icon-chevron-down"></i></button>
        <div class="acc-content">
          <p class="txt-right">부가세가 포함된 실제 지불금액입니다.</p>
          <div class="img-box">
            <img src="../assets/img/temp/@table.gif" alt="">
            <button type="button" class="btn-detail"><i class="icon-detail"></i><span class="invisible">자세히보기</span></button>
          </div>
        </div>
      </li>
      <li>
        <button type="button">인터넷 유해물 차단<span class="invisible">펼치기</span><i class="icon-chevron-down"></i></button>
        <div class="acc-content">
          <ul class="dot-list">
            <li>유해사이트 접속 시 네트워크에서 차단하는 서비스로
              이용자의 임의해지가 불가하며 인터넷 속도는 정상으로
              제공됩니다.</li>
            <li>이용자의 PC에 ‘유해물차단PC프로그램’을 다운로드 받아
              설치하시면 음란 동영상, 게임, P2P프로그램을 추가로
              차단할 수 있습니다.</li>
          </ul>
          <dl class="box-dl">
            <dt>인터넷 유해 사이트 차단</dt>
            <dd><span><img src="../assets/img/temp/@icon1.gif" alt=""></span><em>인터넷 유해물 차단</em></dd>
          </dl>
          <dl class="box-dl">
            <dt>유해물 차단 PC 프로그램</dt>
            <dd><span><img src="../assets/img/temp/@icon1.gif" alt=""></span><em>음란물 동영상 차단</em></dd>
            <dd><span><img src="../assets/img/temp/@icon2.gif" alt=""></span><em>음란물 검사</em></dd>
            <dd><span><img src="../assets/img/temp/@icon3.gif" alt=""></span><em>음란물 접속 통계보고서</em></dd>
            <dd><span><img src="../assets/img/temp/@icon4.gif" alt=""></span><em>게임/ P2P 프로그램 차단</em></dd>
          </dl>
        </div>
      </li>
      <li>
        <button type="button">인터넷 이용시간 관리<span class="invisible">펼치기</span><i class="icon-chevron-down"></i></button>
        <div class="acc-content">
          <ul class="dot-list">
            <li>자녀보호를 위한 인터넷 시간 관리 및 원격 모니터링 기능
              을 제공하는 서비스 입니다.</li>
            <li>이용자의 PC에 ‘유해물차단PC프로그램’을 다운로드 받아
              설치하시면 늦은 시간 게임방지, 자녀 PC화면 조회, 자녀
              PC노출방지 기능을 이용할 수 있습니다.</li>
          </ul>
          <dl class="box-dl">
            <dt>인터넷 시간관리</dt>
            <dd><span><img src="../assets/img/temp/@icon1.gif" alt=""></span><em>인터넷 이용시간 관리</em></dd>
          </dl>
          <dl class="box-dl">
            <dt>유해물 차단 PC 프로그램</dt>
            <dd><span><img src="../assets/img/temp/@icon1.gif" alt=""></span><em>음란물 동영상 차단</em></dd>
            <dd><span><img src="../assets/img/temp/@icon2.gif" alt=""></span><em>음란물 검사</em></dd>
            <dd><span><img src="../assets/img/temp/@icon3.gif" alt=""></span><em>음란물 접속 통계보고서</em></dd>
          </dl>
          <dl class="box-dl">
            <dt>유해물 차단 PC 프로그램</dt>
            <dd><span><img src="../assets/img/temp/@icon1.gif" alt=""></span><em>인터넷 시간관리 스마트폰 App</em></dd>
          </dl>
        </div>
      </li>
      <li>
        <button type="button">스마트폰 유해물 차단<span class="invisible">펼치기</span><i class="icon-chevron-down"></i></button>
        <div class="acc-content">
          <ul class="dot-list">
            <li>스마트폰 환경에서 청소년 유해물 차단 기능을 제공하는
              스마트폰전용 자녀보호 서비스 입니다. </li>
            <li>kt 인터넷 가족안심 가입 고객당 최대 2명의 자녀가
              서비스를 이용할 수 있습니다.</li>
            <li>방문사이트/APP 차단 관리 및 통계 기능을 제공합니다.</li>
          </ul>
          <ul class="box-list">
            <li>
              <span><img src="../assets/img/temp/@icon1.gif" alt=""></span>
              <ul class="dot-list">
                <li>유해 사이트 접속차단</li>
                <li>유해앱 사용차단</li>
              </ul>
            </li>
            <li>
              <span><img src="../assets/img/temp/@icon5.gif" alt=""></span>
              <ul class="dot-list">
                <li>유해 사이트 접속차단</li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <!--배너-->
    <a href="#">
      <img src="../assets/img/temp/@banner2.gif" alt="16년 연속 (2001~2016) 한국산업의 브랜드 파워 초고속 인터넷 부분 1위 국내 최고 브랜드, 고객이 인정한 kt GiGA 인터넷">
    </a>

    <!--추천 상품-->
    <div class="recommend-box">
      <h4>함께 추천해요!</h4>
      <ul class="tabs-style2">
        <li><a href="#" class="active">요금제</a></li>
        <li><a href="#">부가서비스</a></li>
      </ul>
      <!--<ul class="tabs-style3">
        <li><a href="#" class="active">요금제</a></li>
        <li><a href="#">부가서비스</a></li>
        <li><a href="#">부가서비스</a></li>
      </ul>-->
      <div class="tab-contents">
        <ul class="img-list">
          <li>
            <a href="#">
              <span class="img-area"><img src="../assets/img/temp/@tabcon1.gif" alt=""></span>
              <dl>
                <dt>총액 결합할인</dt>
                <dd>월 <strong>33,110</strong>원~
                  <span>(부가세포함)</span>
                </dd>
              </dl>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="img-area"><img src="../assets/img/temp/@tabcon2.gif" alt=""></span>
              <dl>
                <dt>순 광대역 안심무한 요금제</dt>
                <dd>월 <strong>56,100</strong>원~
                  <span>(부가세포함)</span>
                </dd>
              </dl>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="img-area"><img src="../assets/img/temp/@tabcon3.gif" alt=""></span>
              <dl>
                <dt>올레 tv 모바일팩</dt>
                <dd>월 <strong>5,500</strong>원~
                  <span>(부가세포함)</span>
                </dd>
              </dl>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <!-- /contents -->

  <!--footer-->
  <footer>
    <a href="#" class="notice">
      <strong>공지</strong><span> 세계 최초 인공지는 TV '기가 지니' 출시</span>
    </a>

    <div class="family-links">
      <div class="box">
        <label for="sns-channel" class="invisible">sns 채널</label>
        <select id="sns-channel">
          <option value="1">SNS 채널</option>
        </select>
        <i class="icon-chevron-down"></i>
      </div>
      <div class="box">
        <label for="family-site" class="invisible">패밀리 사이트</label>
        <select id="family-site">
          <option value="1">패밀리사이트</option>
        </select>
        <i class="icon-chevron-down"></i>
      </div>
    </div>
    <div class="list-quick-01">
      <ul>
        <li><a href="#">회사소개</a></li>
        <li><a href="#">이용약관</a></li>
        <li><a href="#">이용자 피해예방 가이드</a></li>
        <li><a href="#">개인정보처리방침</a></li>
      </ul>
    </div>
    <div class="list-quick-02">
      <ul>
        <li><a href="#" title="새창 열림" target="_blank"><img src="../assets/img/guide/@ico1.gif" alt=""><span>초고속 인터넷 1위<br/>IPTV 1위</span></a></li>
        <li><a href="#" title="새창 열림" target="_blank"><img src="../assets/img/guide/@ico2.png" alt=""><span>미래차조과학부<br/>웹접근성인증</span></a></li>
        <li><a href="#" title="새창 열림" target="_blank"><img src="../assets/img/guide/@ico1.gif" alt=""><span>이동통신 1윌<br/>인터넷 1위</span></a></li>
      </ul>

    </div>
    <address>
      (주)케이티 대표이사 황창규 <br>
      사업자등록번호 : 102-81-42945 통신판매업신고 : 2002-경기성남-0048<br>
      고객센터 : [모바일] 휴대폰+114(무료), 1588-0010(유료)<br>
      [인터넷/TV/전화] 유선전화(국번없이) 100, 휴대폰(지역번호)+100<br>
      경기도 성남시 분당구 불정로 90 (정자동)<br>
      Copyright ⓒ 2017 kt corp. All rights reserved.
      <a href="#" class="btn-gopc" title="새창열림" target="_blank">PC 버전</a>
    </address>

  </footer>
  <!-- /footer-->

  <!-- script -->
  <!--<script type="text/javascript" src="../../common/js/jquery-1.11.3.min.js"></script>-->
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="../assets/js/ui.js"></script>
  <!-- /script -->
</div>
</body>
</html>