<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>[kt] 메인 - 국민의 편익을 도모하는 최고의 국민기업 - 글로벌 1등 KT</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="format-detection" content="telephone=no,address=no,email=no">
  <meta name="Keywords" content="kt, 케이티, kt.com, kt닷컴, 케이티닷컴, olleh, 올레, kt기업. kt 기업">
  <meta name="Description"
        content="[kt] 메인 - 사랑 받는 국민기업 kt의 기업홍보를 위한 사이트입니다. kt소개/사업소개/사회책임경영/투자정보/홍보채널/인재채용 등 kt의 다양한 사업과 서비스, 사회공헌활동 등에 대한 많은 정보를 확인할 수 있습니다.">

  <link rel="apple-touch-icon" href="../assets/img/common/favicon/kt.ico"><!-- 아이폰 바로가기 -->
  <link rel="shortcut icon" type="image/x-icon" href="../assets/img/common/favicon/kt.ico">
  <link rel="stylesheet" type="text/css" href="../assets/css/icon-font.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/layout.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/contents.css">
  <style>
    p.divider{ text-align:center; font-weight:bold; padding:5px;}
  </style>
</head>
<body>

<div id="wrapper">
  <!-- header -->
  <header>
    <h1><a href="#" class="ico-ally">KT <span>개인</span></a></h1>
    <a href="#" class="btn-alert"><span class="invisible">알림</span><i class="icon-comment-alt"></i><strong>3</strong></a>
    <a href="#" class="btn-srch"><span class="invisible">검색</span><i class="icon-search"></i></a>
    <a href="#" class="btn-total-open"><span class="invisible">전체 메뉴보기</span><i class="icon-reorder"></i></a>
    <nav>
      <h2 class="invisible">주메뉴</h2>
      <ul class="list-channel">
        <li class="current"><a href="#">개인</a></li>
        <li><a href="#" title="KT 기업 페이지로 이동" target="_blank">기업</a></li>
        <li><a href="#" title="KT 회사소개 페이지로 이동" target="_blank">회사소개</a></li>
      </ul>
      <ul class="list-utils">
        <li><a href="#"><i class="icon-logout"></i>로그아웃</a></li>
        <li><a href="#"><i class="icon-usage"></i>사용량조회</a></li>
        <li><a href="#"><i class="icon-payment"></i>소액결제</a></li>
        <li><a href="#"><i class="icon-find-store"></i>매장찾기</a></li>
      </ul>
      <div id="gnb">
        <ul class="category">
          <li class="active"><a href="#"><strong>김민*님</strong>의 <span>맞춤메뉴<i class="icon-like"></i></span></a></li>
          <li><a href="#">마이페이지</a></li>
          <li><a href="#">상품/서비스</a></li>
          <li><a href="#">멤버십/혜택</a></li>
          <li><a href="#">이벤트</a></li>
          <li><a href="#">고객센터</a></li>
          <li><a href="#">KT shop<i class="icon-cart"></i></a></li>
        </ul>
        <div class="category-depth">
          <ul class="depth02">
            <li><a href="#">요금명세서조회 <span>상품/서비스 &gt; 모바일</span></a></li>
            <li><a href="#">기가인터넷사용량조회 <span>상품/서비스 &gt; 모바일</span></a></li>
            <li><a href="#">이용중인 부가서비스<span>마이페이지</span></a></li>
            <li><a href="#">매장찾기/안내<span>고객센터 &gt; 매장찾기/안내</span></a></li>
          </ul>
          <ul class="depth02 active">
            <li><a href="#">모바일<i class="icon-angle-down"></i></a>
              <ul class="depth03 active">
                <li><a href="#">요금제<i class="icon-plus"></i></a></li>
                <li><a href="#">부가서비스<i class="icon-plus"></i></a></li>
                <li class="active"><a href="#">Egg/WiFi<i class="icon-minus"></i></a>
                  <ul class="depth04">
                    <li><a href="#">납부방법 변경</a></li>
                    <li><a href="#">가상계좌 신청/변경</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#">로밍<i class="icon-angle-down"></i></a></li>
            <li><a href="#">모바일전용서비스<i class="icon-angle-down"></i></a></li>
            <li><a href="#">인공지능<i class="icon-angle-down"></i></a></li>
            <li><a href="#">인터넷<i class="icon-angle-down"></i></a></li>
            <li><a href="#">기가IoT<i class="icon-angle-down"></i></a></li>
            <li><a href="#">TV<i class="icon-angle-down"></i></a></li>
            <li><a href="#">전화<i class="icon-angle-down"></i></a></li>
            <li><a href="#">국제전화<i class="icon-angle-down"></i></a></li>
            <li><a href="#">결합상품<i class="icon-angle-down"></i></a></li>
          </ul>
          <ul class="depth02"></ul>
          <ul class="depth02"></ul>
          <ul class="depth02"></ul>
          <ul class="depth02"></ul>
          <ul class="depth02"></ul>
        </div>
      </div>
      <a href="#" class="btn-total-close"><span class="invisible">전체메뉴 닫기</span><i class="icon-remove"></i></a>
    </nav>
  </header>
  <!-- /header  -->

  <!--페이지 로케이션-->
  <div class="location">
    <div class="sub-depth-wrap">
      <ul class="sub-depth2">
        <li>TV</li>
        <li><i class="icon-angle-right"></i>TV가이드
          <ul class="sub-depth3">
            <li><a href="#"><i class="icon-checked"></i>실시간 채널</a></li>
            <li><a href="#" class="active"><i class="icon-checked"></i>골라보기(VOD)</a></li>
            <li><a href="#"><i class="icon-checked"></i>tv앱스토어</a></li>
          </ul>
        </li>
      </ul>
      <button type="button"><span class="invisible">메뉴 펼치기</span><i class="icon-chevron-down"></i></button>
    </div>
  </div>

  <!-- contents -->
  <div id="contents">
    
    <h3>가이드</h3>


    <!--이미지 가로 테이블-->
    <p class="divider">이미지 가로 테이블</p>
    <div class="h-slider">
      <ul style="width: 700px;">
        <li>
          <a href="#">
            <img src="../assets/img/temp/@img1.jpg" alt="">
            <dl>
              <dt>타이틀 텍스트</dt>
              <dd>서브 텍스트</dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../assets/img/temp/@img1.jpg" alt="">
            <dl>
              <dt>타이틀 텍스트</dt>
              <dd>서브 텍스트</dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../assets/img/temp/@img1.jpg" alt="">
            <dl>
              <dt>타이틀 텍스트</dt>
              <dd>서브 텍스트</dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../assets/img/temp/@img1.jpg" alt="">
            <dl>
              <dt>타이틀 텍스트</dt>
              <dd>서브 텍스트</dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../assets/img/temp/@img1.jpg" alt="">
            <dl>
              <dt>타이틀 텍스트</dt>
              <dd>서브 텍스트</dd>
            </dl>
          </a>
        </li>
      </ul>
    </div>
    <!--이미지 세로 테이블-->
    <p class="divider">이미지 세로 테이블</p>
    <div class="v-slider con-box">
      <ul>
        <li>
          <a href="#">
            <img src="../assets/img/temp/@img2.jpg" alt="">
            <dl>
              <dt>타이틀 텍스트</dt>
              <dd>서브 텍스트</dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../assets/img/temp/@img2.jpg" alt="">
            <dl>
              <dt>타이틀 텍스트</dt>
              <dd>서브 텍스트</dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../assets/img/temp/@img2.jpg" alt="">
            <dl>
              <dt>타이틀 텍스트</dt>
              <dd>서브 텍스트</dd>
            </dl>
          </a>
        </li>
      </ul>
    </div>
    <!--이미지 리스트 테이블-->
    <ul>
      <li><a href="#"></a></li>
    </ul>

    <!--테이블1-->
    <p class="divider">테이블 1</p>
    <div class="scroll-box">
      <div class="tbl-type1" style="width: 500px;">
        <table>
          <caption>테이블 타입1</caption>
          <colgroup>
            <col>
            <col width="15%">
            <col width="15%">
            <col width="15%">
            <col width="15%">
            <col width="15%">
            <col width="15%">
          </colgroup>
          <thead>
          <tr>
            <th scope="col">항목</th>
            <th scope="col">항목1</th>
            <th scope="col">항목2</th>
            <th scope="col">항목3</th>
            <th scope="col">항목4</th>
            <th scope="col">항목5</th>
            <th scope="col">항목6</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td rowspan="4">텍스트</td>
            <td>텍스트</td>
            <td>텍스트</td>
            <td>텍스트</td>
            <td rowspan="4">텍스트</td>
            <td rowspan="4">텍스트</td>
            <td rowspan="4">텍스트</td>
          </tr>
          <tr>
            <td>텍스트</td>
            <td>텍스트</td>
            <td>텍스트</td>
          </tr>
          <tr>
            <td>텍스트</td>
            <td>텍스트</td>
            <td>텍스트</td>
          </tr>
          <tr>
            <td>텍스트</td>
            <td>텍스트</td>
            <td>텍스트</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--가로 스크롤 js 제작-->
    <div class="scrollbar-wrap">
      <div class="scrollbar">
        <div class="handle">
          <div class="mousearea"></div>
        </div>
      </div>
    </div>

    <!--테이블2-->
    <p class="divider">테이블 2</p>
    <div class="scroll-box" style="margin-top: 20px;">
      <div class="tbl-type2" style="width: 500px;">
        <table>
          <caption>테이블 타입1</caption>
          <colgroup>
            <col>
            <col width="15%">
            <col width="15%">
            <col width="15%">
            <col width="15%">
            <col width="15%">
            <col width="15%">
          </colgroup>
          <thead>
          <tr>
            <th scope="col">항목</th>
            <th scope="col">항목1</th>
            <th scope="col">항목2</th>
            <th scope="col">항목3</th>
            <th scope="col">항목4</th>
            <th scope="col">항목5</th>
            <th scope="col">항목6</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td rowspan="4">텍스트</td>
            <td>텍스트</td>
            <td>텍스트</td>
            <td>텍스트</td>
            <td rowspan="4">텍스트</td>
            <td rowspan="4">텍스트</td>
            <td rowspan="4">텍스트</td>
          </tr>
          <tr>
            <td>텍스트</td>
            <td>텍스트</td>
            <td>텍스트</td>
          </tr>
          <tr>
            <td>텍스트</td>
            <td>텍스트</td>
            <td>텍스트</td>
          </tr>
          <tr>
            <td>텍스트</td>
            <td>텍스트</td>
            <td>텍스트</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--가로 스크롤 js 제작-->
    <div class="scrollbar-wrap">
      <div class="scrollbar">
        <div class="handle">
          <div class="mousearea"></div>
        </div>
      </div>
    </div>




    <!--인풋요소-->
    <p class="divider">인풋요소</p>
    <div>
      <input type="checkbox" id="chk01">
      <label for="chk01">체크1</label>
      <input type="checkbox" id="chk02">
      <label for="chk02">체크2</label>
    </div>

    <div>
      <input type="radio" id="inp01" name="inp">
      <label for="inp01">라디오1</label>
      <input type="radio" id="inp02" name="inp">
      <label for="inp02">라디오2</label>
    </div>

    <!--페이징-->
    <p class="divider">페이징</p>
    <div class="paging">
      <a href="#" class="btn-prev"><span class="invisible">이전 목록</span><i class="icon-prev"></i></a>
      <span><em>2</em>/29</span>
      <a href="#" class="btn-next"><span class="invisible">다음 목록</span><i class="icon-next"></i></a>
    </div>
    <div class="paging">
      <a href="#" class="btn-prev disabled"><span class="invisible">이전 목록</span><i class="icon-prev"></i></a>
      <span><em>1</em>/10</span>
      <a href="#" class="btn-next disabled"><span class="invisible">다음 목록</span><i class="icon-next"></i></a>
    </div>

    <!--버튼 -->
    <p class="divider">버튼</p>
    <button type="button" class="btn-detail"><i class="icon-detail"></i><span class="invisible">자세히보기</span></button>
    <button type="button" class="btn-sns"><i class="icon-sns"></i><span class="invisible">sns 공유</span></button>
    <div class="btn-wrap2">
      <button type="button" class="btn-red-square">신청하기</button>
      <button type="button" class="btn-line-square">설정하기</button>
    </div>
    <div class="btn-wrap2">
      <button type="button" class="btn-dark-square">신청하기</button>
      <button type="button" class="btn-darkline-square">설정하기</button>
    </div>
    <div class="btn-wrap3">
      <button type="button" class="btn-red-round">신청하기</button>
      <button type="button" class="btn-line-round">설정하기</button>
      <button type="button" class="btn-line-round">비교하기</button>
    </div>

    <!--더보기-->
    <p class="divider">더보기 버튼</p>
    <button class="btn-more">더보기 <i class="icon-plus"></i></button>
    <p class="divider">더보기 버튼2</p>
    <button class="btn-more">더보기<span>(2/10)</span><i class="icon-plus"></i></button>

    <!--탭-->
    <p class="divider">탭 2개</p>
    <ul class="tabs-style2">
      <li><a href="#" class="active">요금제</a></li>
      <li><a href="#">부가서비스</a></li>
    </ul>
    <p class="divider">탭 3개</p>
    <ul class="tabs-style3">
      <li><a href="#" class="active">요금제</a></li>
      <li><a href="#">부가서비스</a></li>
      <li><a href="#">부가서비스</a></li>
    </ul>
    <p class="divider">탭 스라이더</p>
    <div class="slider-tab">
      <div class="tab-list">
        <ul style="width: 500px;"> <!-- [js]  전체 메뉴 넓이값 지정-->
          <li><a href="#" class="active">영화</a></li>
          <li><a href="#">시리즈</a></li>
          <li><a href="#">TV 다시보기</a></li>
          <li><a href="#">키즈</a></li>
          <li><a href="#">애니메이션</a></li>
          <li><a href="#">음악/교육/다큐</a></li>
        </ul>
      </div>
      <a href="#" class="btn-prev" style="display:none;"><span class="invisible">이전 메뉴</span><i class="icon-prev"></i></a> <!-- [js]첫번째 메뉴 위치시 display:none, next 눌렀을때, 활성화-->
      <a href="#" class="btn-next"><span class="invisible">다음 메뉴</span><i class="icon-next"></i></a>
      <div class="tab-depth">
        <ul style="width: 500px;"> <!-- [js] 메뉴 갯수만큼 넓이값 지정 , position relative  left 값으로 위치 조정 메뉴 높이값이 유동적이여서 (2줄, 1줄)absolute 값 사용시 높이를 지정해줘야되서..-->
          <li><a href="#" class="active">인기<br>TOP10</a></li>
          <li><a href="#">극장동시</a></li>
          <li><a href="#">상영관 최신영화</a></li>
          <li><a href="#">금주만 반짝할인</a></li>
          <li><a href="#">테마영화관</a></li>
          <li><a href="#">무료영화 100선</a></li>
          <li><a href="#">국내최초 개봉관</a></li>
        </ul>
      </div>
    </div>

    <!--상품설명-->
    <p class="divider">기본</p>
    <ul class="color-box">
      <li><i class="icon-add-services"></i><strong>인터넷<br>유해물 차단</strong>인터넷  음란 / 도박 / <br>불법사이트 자동차단</li>
      <li><i class="icon-sevice"></i><strong>인터넷<br> 이용시간 관리</strong>요일/시간대별 관리</li>
      <li><i class="icon-add-services"></i><strong>스마트폰<br>유해물 차단</strong>유해 앱 차단 및<br>통계기능 제공</li>
      <li><i class="icon-sevice"></i><strong>유해물 차단<br>PC 프로그램</strong>S/W 유해<br>프로그램 차단</li>
    </ul>
    <p class="divider">type2</p>
    <ul class="color-box type2">
      <li><i class="icon-add-services"></i><strong>인터넷<br>유해물 차단</strong>인터넷  음란 / 도박 / <br>불법사이트 자동차단</li>
      <li><i class="icon-sevice"></i><strong>인터넷<br> 이용시간 관리</strong>요일/시간대별 관리</li>
      <li><i class="icon-add-services"></i><strong>스마트폰<br>유해물 차단</strong>유해 앱 차단 및<br>통계기능 제공</li>
      <li><i class="icon-sevice"></i><strong>유해물 차단<br>PC 프로그램</strong>S/W 유해<br>프로그램 차단</li>
    </ul>

    <!--아코디언-->
    <p class="divider">아코디언</p>
    <ul class="accodion-box">
      <li>
        <button type="button">imb-box<span class="invisible">펼치기</span><i class="icon-chevron-down"></i></button>
        <div class="acc-content">
          <p class="txt-right">부가세가 포함된 실제 지불금액입니다.</p>
          <div class="img-box">
            <img src="../assets/img/temp/@table.gif" alt="">
            <button type="button" class="btn-detail"><i class="icon-detail"></i><span class="invisible">자세히보기</span></button>
          </div>
        </div>
      </li>
      <li>
        <button type="button">box-dl, txt-dl<span class="invisible">펼치기</span><i class="icon-chevron-down"></i></button>
        <div class="acc-content">
          <dl class="box-dl">
            <dt>유해물 차단 PC 프로그램</dt>
            <dd><span><img src="../assets/img/temp/@icon1.gif" alt=""></span><em>음란물 동영상 차단</em></dd>
            <dd><span><img src="../assets/img/temp/@icon2.gif" alt=""></span><em>음란물 검사</em></dd>
            <dd><span><img src="../assets/img/temp/@icon3.gif" alt=""></span><em>음란물 접속 통계보고서</em></dd>
          </dl>
          <dl class="box-dl">
            <dt>유해물 차단 PC 프로그램</dt>
            <dd><span><img src="../assets/img/temp/@icon1.gif" alt=""></span><em>음란물 동영상 차단</em></dd>
            <dd><span><img src="../assets/img/temp/@icon2.gif" alt=""></span><em>음란물 검사</em></dd>
            <dd><span><img src="../assets/img/temp/@icon3.gif" alt=""></span><em>음란물 접속 통계보고서</em></dd>
          </dl>
          <dl class="txt-dl">
            <dt>스마트폰 유해물 차단 모바일 App</dt>
            <dd>인터넷 가족안심 상품 가입 한 경우, 올레마켓/구글 플에이에서 다운로드 및 로그인(올레ID/타임코디P/W)이후, 자녀등록 하시면 자녀에게 App 설치
              안내 문자가 제공되며 자녀 App 설치 후 모바일 App을 정상적으로 이용하실 수 있습니다.
            </dd>
            <dd>
              인터넷 회선 가입자는 '인터넷 가족안심' 상품에 가입하실 수 있으며, 모바일 App은 최대 자녀 2명까지 서비스 이용 가능합니다. <br>
              (자녀는 이동통신사 관계없이 서비스 제공)
            </dd>
          </dl>
          <dl class="txt-dl">
            <dt>스마트폰 유해물 차단 모바일 App</dt>
            <dd>인터넷 가족안심 상품 가입 한 경우, 올레마켓/구글 플에이에서 다운로드 및 로그인(올레ID/타임코디P/W)이후, 자녀등록 하시면 자녀에게 App 설치
              안내 문자가 제공되며 자녀 App 설치 후 모바일 App을 정상적으로 이용하실 수 있습니다.
            </dd>
            <dd>
              인터넷 회선 가입자는 '인터넷 가족안심' 상품에 가입하실 수 있으며, 모바일 App은 최대 자녀 2명까지 서비스 이용 가능합니다. <br>
              (자녀는 이동통신사 관계없이 서비스 제공)
            </dd>
          </dl>
        </div>
      </li>
      <li>
        <button type="button">dot-list, box-list<span class="invisible">펼치기</span><i class="icon-chevron-down"></i></button>
        <div class="acc-content">
          <ul class="dot-list">
            <li>스마트폰 환경에서 청소년 유해물 차단 기능을 제공하는
              스마트폰전용 자녀보호 서비스 입니다. </li>
            <li>kt 인터넷 가족안심 가입 고객당 최대 2명의 자녀가
              서비스를 이용할 수 있습니다.</li>
            <li>방문사이트/APP 차단 관리 및 통계 기능을 제공합니다.</li>
          </ul>
          <ul class="box-list">
            <li>
              <span><img src="../assets/img/temp/@icon1.gif" alt=""></span>
              <ul class="dot-list">
                <li>유해 사이트 접속차단</li>
                <li>유해앱 사용차단</li>
              </ul>
            </li>
            <li>
              <span><img src="../assets/img/temp/@icon5.gif" alt=""></span>
              <ul class="dot-list">
                <li>유해 사이트 접속차단</li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <!-- /contents -->

  <!--footer-->
  <footer>
    <div class="family-links">
      <div class="box">
        <label for="sns-channel" class="invisible">sns 채널</label>
        <select id="sns-channel">
          <option value="1">SNS 채널</option>
        </select>
        <i class="icon-chevron-down"></i>
      </div>
      <div class="box">
        <label for="family-site" class="invisible">패밀리 사이트</label>
        <select id="family-site">
          <option value="1">패밀리사이트</option>
        </select>
        <i class="icon-chevron-down"></i>
      </div>
    </div>
    <div class="list-quick-01">
      <ul>
        <li><a href="#">회사소개</a></li>
        <li><a href="#">이용약관</a></li>
        <li><a href="#">이용자 피해예방 가이드</a></li>
        <li><a href="#">개인정보처리방침</a></li>
      </ul>
    </div>
    <div class="list-quick-02">
      <ul>
        <li><a href="#" title="새창 열림" target="_blank"><img src="../assets/img/temp/@ico1.gif" alt=""><span>초고속 인터넷 1위<br/>IPTV 1위</span></a></li>
        <li><a href="#" title="새창 열림" target="_blank"><img src="../assets/img/temp/@ico2.png" alt=""><span>미래차조과학부<br/>웹접근성인증</span></a></li>
        <li><a href="#" title="새창 열림" target="_blank"><img src="../assets/img/temp/@ico1.gif" alt=""><span>이동통신 1윌<br/>인터넷 1위</span></a></li>
      </ul>

    </div>
    <address>
      (주)케이티 대표이사 황창규 <br>
      사업자등록번호 : 102-81-42945 통신판매업신고 : 2002-경기성남-0048<br>
      고객센터 : [모바일] 휴대폰+114(무료), 1588-0010(유료)<br>
      [인터넷/TV/전화] 유선전화(국번없이) 100, 휴대폰(지역번호)+100<br>
      경기도 성남시 분당구 불정로 90 (정자동)<br>
      Copyright ⓒ 2017 kt corp. All rights reserved.
      <a href="#" class="btn-gopc" title="새창열림" target="_blank">PC 버전</a>
    </address>

  </footer>
  <!-- /footer-->

  <!-- script -->
  <!--<script type="text/javascript" src="../../common/js/jquery-1.11.3.min.js"></script>-->
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="../assets/js/ui.js"></script>
  <!-- /script -->
</div>
</body>
</html>