@charset "utf-8";
@import "common/common";

//a,button { border: 1px solid red; }
body{background-color: #f19ebc;}
/* header */
header{
	@include ally('h1,p');
	.goHome{
		@include go(85, 35, 29, -548);
	}
	$top : 29;
	@include share($top, 345);
	.goEvent{
		@include go(90, 29, $top, 459);
	}
}


/* footer */
#footer{
	/*@include share(30, 93);
	@include section-set('bg_footer.jpg');*/

	@include section-set('ico-sprite.png');
}

/* contents */
div[class^="section"] > strong{
	display: block;
}
.section {

	/*&-01{ @include section-set( 'bg_sec_01.jpg'); }
	&-02{ @include section-set( 'bg_sec_02.jpg'); }
	&-03{ @include section-set( 'bg_sec_03.jpg'); }
	&-04{ @include section-set( 'bg_sec_04.jpg'); }*/

	&-caution {
		//@include section-set('bg_caution.jpg');

		ul{text-indent: 0;margin:0 auto;
			width: 1100px;padding:84px 0 0 3px;font-size: 12px;
			line-height: 24px;color:#ca929d;
			li{
				font-family: 'Dotum';
				padding-left: 6px;
				background: url($folder + 'blit.jpg') 0 11px no-repeat;
				letter-spacing: -0.1px;
			}
			.btn-rule{
				font-weight: bold;color:#ca929d;
			}
		}
	}
}

.btn-{
	&link-01{@include btn-link(152,50,595,296);}
	&link-02{@include btn-link(83,33, 144,-284);}
	&link-03{@include btn-link(152,50,733,296);}
	&link-04{@include btn-link(196,37, 285, -284);}
}



#layer {
	/*&-01 { @include layer('bg_layer_01.png'); }
	&-02 { @include layer('bg_layer_02.png'); }
	&-03 { @include layer('bg_layer_03.png'); }
	&-04 { @include layer('bg_layer_04.png'); }*/
}

//layer
.layerClose {width:40px; height:40px; top:16px; right:15px; outline:0 none}



// * -------------------------------
// * UL type select custom style

.select-ui {
	position: absolute;
	left: 180px;
	top: 24px;
	margin-left: 0;
	width: 439px;
	padding-bottom: 20px;

	.tit a,	.tit2 a {
		z-index:10;
		position: relative;
		display: block;
		height: 52px;
		font: normal 16px/52px '맑은 고딕';
		font-weight: bold;
		color: #007265;
		letter-spacing: -0.09em;
		text-decoration: none;
		text-indent: 0;
		padding-left: 20px;
		span{
			display: inline-block;
			color: #7ee8ff;
			width: 71px;
			text-align: center;
			line-height: 52px;
			border-left: 1px solid #000;
		}
		em {
			font: {
				style: normal;
			}
		}
	}
	ul {
		z-index: 999; display: none; position: absolute; width: 436px; overflow: hidden; border: 1px solid #3c3c3c; overflow-y: auto; left: 0;
		background:#e4e4e4;
		li {
			text-indent: 0;
			color: #007265;
			border-bottom:1px solid #bababa;
			&:hover {
				a{color: #007265;}
			}
			&:first-child {
				border: {
					top: 0 none;
				}
			}
			a {
				display: block;
				color: #313131;
				font: {
					size: 14px;
				}
				text-decoration: none;
				font-family: '맑은 고딕';
				line-height: 34px;
				letter-spacing: -0.09em;
				padding-left: 20px;
			}
		}
	}
}