@charset "utf-8";
/*! reset */
html{color:#000;font-size:100%;-webkit-text-size-adjust:none;-ms-text-size-adjust:none}
article,aside,audio,blockquote,body,canvas,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,input,legend,li,mark,menu,nav,ol,p,pre,section,summary,td,textarea,th,time,ul,video{margin:0;padding:0;box-sizing:border-box;}
body{background-color:#000;color:#333333;font-size:12px;font-family:Dotum,"돋움",Gulim,"굴림","Helvetica Neue",Helvetica,Arial,Verdana,Tahoma,sans-serif;line-height:1}
img{max-width:100%;border:0;vertical-align:middle}
button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle}
table{border-spacing:0;border-collapse:collapse}
fieldset{border:0}
legend{color:#000}
address,caption,cite,code,dfn,th,var{font-weight:400;font-style:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:400;font-size:100%;line-height:1}
caption,hr,legend{width:0;height:0;font-size:1px;text-indent:-9999em;line-height:0}
a,a:active,a:focus,a:hover,a:link,a:visited{font-size:100%;text-decoration:none}

.ally{display: inline-block; overflow: hidden; color: transparent; white-space: nowrap;} 

.ico-ally{overflow:hidden; display: inline-block;color: transparent; white-space: nowrap;
			background-image: url(../img/ico-sprite.png);
    	  -webkit-background-size: 200px 200px; background-size: 200px 200px;
		   background-repeat: no-repeat;
}
.wrap{min-width: 320px;}
header{height:58px;}
header h1 a{display: block; position: absolute; top: 19px; left: 15px; width:62px; height: 21px; background-position: 0 0;color:transparent;}

.btn-alert{display: block; position: absolute; top: 19px; right: 105px; width:27px; height: 23px; background-position: -66px 0px;}
.btn-srch{display: block; position: absolute; top: 19px; right: 60px; width:22px; height: 22px; background-position: -98px 0px;}
.btn-all{display: block; position: absolute; top: 19px; right: 17px; width:22px; height: 22px; background-position: -130px 0px;}