@charset "utf-8";
html, body {
    height: 100%;
    background-color: #000;
}
a{outline:1px solid red; opacity:.5;background: red;}
form, fieldset {
    border: 0;
}

body {
    min-width: 320px;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    -webkit-text-size-adjust: none;
}

img {
    border: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: top;
}

.container {
    margin: 0 auto;
    background: #fff;
}

header ,footer{
    position: relative;
}
.wrap div{ position: relative;}

.btn {
    position: absolute;
    left: 50%;
}

.btn-01{     top: 28%; width: 6%; height: 45%; margin-left: 40%; }