@charset "utf-8";
html, body {
    height: 100%;
    background-color: #38A5E8;
}

form, fieldset {
    border: 0;
}

body {
    min-width: 320px;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    -webkit-text-size-adjust: none;
}

img {
    border: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: top;
}

.container {
    max-width: 640px;
    margin: 0 auto;
    background: #fff;
}

.header {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.btn {
    position: absolute;
    left: 50%;
}
