@charset "UTF-8";

/*
 * @ reset css
 * -------------------------------------
 */
html, body, div, p, span, strong, b, em, iframe, pre,
h1, h2, h3, h4, h5, h6,
img, dl, dt, dd,
fieldset, form, legend, label,
table, caption, thead, tbody, tfoot, tr, th, td,
ul, ol, li, a, input, select, textarea {margin:0;padding:0;border:0 none;}
body{ font-family:MalgunGothic, '맑은 고딕', '돋움', Dotum, "Apple SD Gothic Neo" , AppleGothic, Sans-serif, Arial; font-size:14px; line-height:1; color:#333; }

ul, ol, li {list-style:none;}
em, address {font-style:normal;}
img {border:0 none;font-size:0;line-height:0;}
sup{position:relative;top:2px;font-size:10px;line-height:100%;  }
sub{position:relative;top:-1px;font-size:10px;line-height:100%;  }

table {border-spacing:0;}
caption {overflow:hidden; width:0; height:0; font-size:0; line-height:0}
th, td {vertical-align:middle;/* white-space: nowrap; */}

a {color:#333; text-decoration:none; line-height: 1;}
a:hover,a:focus,a:active {text-decoration:underline;}
a:visited {color:#333;}

/*a.link{text-decoration:underline !important;color:#03867b;}
a.link2{padding-right:7px;background:url('/resource/img/bul/bul_arrow_07.gif') no-repeat right 6px;color:#916744;font-weight:bold;}*/

.blind { opacity: 0; width:0; height:0; position: absolute; left: -30000px;}
img.zoom{width:100%;}
