%invisible {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden
}

%ico-ally{
  overflow:hidden; display: inline-block; color: transparent; white-space: nowrap;
  background-image: url(../img/guide/ico-sprite.png);
  -webkit-background-size: 200px 200px;
  background-size: 200px 200px;
  background-repeat: no-repeat;
}
.invisible {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden
}