h4, p{
    padding: 0;
    margin: 0;
    line-height: 1.3;
    font-weight: 600;
}

p{
    color: gray;
    font-size: 0.7rem;
}

body{
    background: #eee;
    margin: 0;
}

.container{
    position: relative;
    width: 100%;
    background-color:#fff;
    margin: 0 auto;
}

section{
    position: fixed;
    text-align: center;
    width: 100%;
    height: 0;
    
	padding-bottom: 56.26%;
    background-color: #fff;
}

iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    
}
main{
    padding: 58% 18px 10px;
}

article{
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 2px solid #e9e9e9;
    border-radius: 8px;
    margin: 0 auto;
}

article:hover{
    border: 2px solid #ff9999;
}

.thumb{
    height: 70px;
}

.details{
    padding: 8px 22px;
}
.serch-bar{
    position: fixed;
    bottom:0;
    padding:10px;
    background: #fff;
    border:1px solid #eee;
    right:0;
    left:0;
}
input{width: 100%;font-size: 18px;}
